/*Start define margin*/
.margin-5{
	margin: 5px !important;
}
.margin-top-bottom-5{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.margin-left-right-5{
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.margin-top-5{
	margin-top: 5px !important;
}
.margin-right-5{
	margin-right: 5px !important;
}
.margin-bottom-5{
	margin-bottom: 5px !important;
}
.margin-left-5{
	margin-left: 5px !important;
}

.margin-10{
	margin: 10px !important;
}
.margin-top-bottom-10{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.margin-left-right-10{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.margin-top-10{
	margin-top: 10px !important;
}
.margin-right-10{
	margin-right: 10px !important;
}
.margin-bottom-10{
	margin-bottom: 10px !important;
}
.margin-left-10{
	margin-left: 10px !important;
}

.margin-15{
	margin: 15px !important;
}
.margin-top-bottom-15{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.margin-left-right-15{
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.margin-top-15{
	margin-top: 15px !important;
}
.margin-right-15{
	margin-right: 15px !important;
}
.margin-bottom-15{
	margin-bottom: 15px !important;
}
.margin-left-15{
	margin-left: 15px !important;
}

.margin-20{
	margin: 20px !important;
}
.margin-top-bottom-20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.margin-left-right-20{
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.margin-top-20{
	margin-top: 20px !important;
}
.margin-right-20{
	margin-right: 20px !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.margin-left-20{
	margin-left: 20px !important;
}

.margin-25{
	margin: 25px !important;
}
.margin-top-bottom-25{
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}
.margin-left-right-25{
	margin-left: 25px !important;
	margin-right: 25px !important;
}
.margin-top-25{
	margin-top: 25px !important;
}
.margin-right-25{
	margin-right: 25px !important;
}
.margin-bottom-25{
	margin-bottom: 25px !important;
}
.margin-left-25{
	margin-left: 20px !important;
}

.margin-30{
	margin: 30px !important !important;
}
.margin-top-bottom-30{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
.margin-left-right-30{
	margin-left: 30px !important;
	margin-right: 30px !important;
}
.margin-top-30{
	margin-top: 30px !important;
}
.margin-right-30{
	margin-right: 30px !important;
}
.margin-bottom-30{
	margin-bottom: 30px !important;
}
.margin-left-30{
	margin-left: 30px !important;
}

.margin-40{
	margin: 40px !important;
}
.margin-top-bottom-40{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.margin-left-right-40{
	margin-left: 40px !important;
	margin-right: 40px !important;
}
.margin-top-40{
	margin-top: 40px !important;
}
.margin-right-40{
	margin-right: 40px !important;
}
.margin-bottom-40{
	margin-bottom: 40px !important;
}
.margin-left-40{
	margin-left: 40px !important;
}

.margin-50{
	margin: 50px !important;
}
.margin-top-bottom-50{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.margin-left-right-50{
	margin-left: 50px !important;
	margin-right: 50px !important;
}
.margin-top-50{
	margin-top: 50px !important;
}
.margin-right-50{
	margin-right: 50px;
}
.margin-bottom-50{
	margin-bottom: 50px;
}
.margin-left-50{
	margin-left: 50px;
}

.margin-70{
	margin: 70px !important;
}
.margin-top-bottom-70{
	margin-top: 70px !important;
	margin-bottom: 70px !important;
}
.margin-left-right-70{
	margin-left: 70px !important;
	margin-right: 70px !important;
}
.margin-top-70{
	margin-top: 70px !important;
}
.margin-right-70{
	margin-right: 70px !important;
}
.margin-bottom-70{
	margin-bottom: 70px !important;
}
.margin-left-70{
	margin-left: 70px !important;
}

.margin-top-remove{
	margin-top: 0 !important;
}
.margin-right-remove{
	margin-right: 0 !important;
}
.margin-bottom-remove{
	margin-bottom: 0 !important;
}
.margin-left-remove{
	margin-left: 0 !important;
}
.margin-top-bottom-remove{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.margin-left-right-remove{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/*End define margin*/

/*Start define remove some style*/
.non-radius{
	border-radius: 0 !important;
}
.non-background{
	background-color: transparent !important;
}
.non-border{
	border: none !important;
}
.non-padding{
	padding: 0 !important;
}
.padding-left-0{
	padding-left: 0 !important;
}
/*End define remove some style*/

/*Checkbox*/
input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:24px;
	height:19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	color: #fff;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}
label.css-label {
	background-image:url(../img/plat-check-uncheck.png);
}

/*Checkbox2*/
input[type=checkbox].css-checkbox2 {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox2 + label.css-label2 {
	padding-left:24px;
	height:19px;
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	color: #fff;
}

input[type=checkbox].css-checkbox2:checked + label.css-label2 {
	background-position: 0 -19px;
}
label.css-label2 {
	background-image:url(../img/csscheckboxnew.png);
}

/*responsive video*/
.embed-responsive {
	position:relative;
	display:block;
	height:0;
	padding:0;
	overflow:hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom:56.25%;
}

.embed-responsive.embed-responsive-4by3 {
	padding-bottom:75%;
}

/*more*/
.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.block{
	display: block !important;
}