body{
	overflow-x: hidden;
}
#top{
    background-color: #245d8f;
}
#top .top-nav{
    display: inline-block;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
#top .top-nav > li{
    margin-top: 0;
    padding-left: 25px;
}
#top .top-nav > li:first-child{
    padding-left: 10px;
}
#top .top-nav > li > a{
    color: #fff;
}
#top .top-nav > li > a:hover,
#top .top-nav > li > a:focus,
#top .top-nav > li > a:active{
    color: #aae857;
}
#top .top-nav > li.uk-active > a{
    color: #aae857;
}
.top-red .top-nav > li > a:hover,
.top-red .top-nav > li > a:focus,
.top-red .top-nav > li > a:active{
	color: #343434 !important;
}
.top-red .top-nav > li.uk-active > a{
	color: #343434 !important;
}
#header{
    padding-top: 5px;
    padding-bottom: 5px;
	border-image-slice: 0 27 3 27;
	border-image-width: 20px 20px 3px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: repeat stretch;
	border-image-source: url("../img/header-border.jpg");
}
#header .header-submenu{
    border: 1px solid #8c8c8c;
    border-radius: 0;
    background-color: #fff;
    top: 50px;
    -moz-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	-webkit-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	box-shadow: 1px 4px 4px rgba(0,0,0,.34);
}
.wrap-nav-column,
.wrap-nav-column2{
	position: relative;
}
.wrap-nav-column:before,
.wrap-nav-column2:before {
	position: absolute;
	top: -25px;
	left: 25px;
	display: inline-block !important;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	border-bottom-color: rgba(255, 255, 255, 1);
	content: '';
}
.wrap-nav-column:after,
.wrap-nav-column2:after{
	position: absolute;
	top: -26px;
	left: 24px;
	display: inline-block !important;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #fff;
	border-left: 11px solid transparent;
	border-bottom-color: #8c8c8c;
	z-index: -1;
	content: '';
}
.wrap-nav-column2:before{
	left: auto !important;
	right: 25px !important;
}
.wrap-nav-column2:after{
	left: auto !important;
	right: 24px !important;
}
#header .header-submenu ul.nav-menu-lv2{
	list-style-type: disc;
	padding-left: 10px;
}
#header .header-submenu ul.nav-menu-lv2 > li{
	margin: 5px 0;
}
#header .header-submenu ul.nav-menu-lv2 > li > a{
	color: #343434;
}
#header .header-submenu ul.nav-menu-lv2 > li > a:hover,
#header .header-submenu ul.nav-menu-lv2 > li > a:focus,
#header .header-submenu ul.nav-menu-lv2 > li > a:active{
	color: #0068BD;
	text-decoration: none;
}
.header-new-navbar > li > a{
    text-transform: capitalize;
	color: #245d8f;
	font-size: 13px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}
.header-new-navbar > li:hover > a,
.header-new-navbar > li > a:focus,
.header-new-navbar > li.uk-open > a{
	cursor: pointer;
	color: #89C63D;
	box-shadow: none;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
}
.header-new-navbar > li.uk-active > a {
	color: #8bc53e !important;
	font-weight: 700 !important;
	background-color: transparent;
	box-shadow: none;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
}
.header-new-navbar.nav-red > li:hover > a,
.header-new-navbar.nav-red > li > a:focus,
.header-new-navbar.nav-red > li.uk-open > a{
	cursor: pointer;
	color: #d90000;
	box-shadow: none;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
}
.header-new-navbar.nav-red > li.uk-active > a {
	color: #d90000 !important;
	box-shadow: none;
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
}
.header-navbar2 > li > a{
	color: #245d8f;
}
.header-navbar2 > li:hover > a,
.header-navbar2 > li > a:focus,
.header-navbar2 > li.uk-open > a{
	color: #8bc53e !important;
}
.header-navbar2 > li.uk-active > a{
	color: #359000 !important;
	background-color: transparent;
	font-weight: 700;
}
.banner-highlight .content-highlight .title-highlight{
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;
}
.banner-highlight .content-highlight .title-highlight a{
	color: #333;
	transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
}
.banner-highlight .content-highlight .title-highlight a:hover{
	text-decoration: none;
	color: #5C5C5C;
}
.banner-highlight .content-highlight p{
	color: #333;
	font-size: 15px;
}
.ribon-highlight{
	text-align: center;
	line-height: 33px;
	width: 98px;
	height: 34px;
	-moz-border-radius: 0 0 13px 11px / 0 0 12px 11px;
	-webkit-border-radius: 0 0 13px 11px / 0 0 12px 11px;
	border-radius: 0 0 13px 11px / 0 0 12px 11px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	background: rgb(51,158,220);
	background: -moz-linear-gradient(top,  rgba(51,158,220,1) 0%, rgba(11,89,183,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,158,220,1)), color-stop(100%,rgba(11,89,183,1)));
	background: -webkit-linear-gradient(top,  rgba(51,158,220,1) 0%,rgba(11,89,183,1) 100%);
	background: -o-linear-gradient(top,  rgba(51,158,220,1) 0%,rgba(11,89,183,1) 100%);
	background: -ms-linear-gradient(top,  rgba(51,158,220,1) 0%,rgba(11,89,183,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,158,220,1) 0%,rgba(11,89,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339edc', endColorstr='#0b59b7',GradientType=0 );
	position: absolute;
	top: -5px;
	left: 15px;
}
.ribon-highlight:after{
	content: "";
	width: 5px;
	height: 5px;
	background-image: url(../img/tri-ribon.png);
	position: absolute;
	right: -5px;
	top: 0px;
}
.ribon-highlight span{
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 2px 1px rgba(0,0,0,.3);
}
.ribon-highlight.hight-red{
	background: rgb(228,0,0);
	background: -moz-linear-gradient(top,  rgba(228,0,0,1) 0%, rgba(198,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,0,0,1)), color-stop(100%,rgba(198,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(228,0,0,1) 0%,rgba(198,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(228,0,0,1) 0%,rgba(198,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(228,0,0,1) 0%,rgba(198,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(228,0,0,1) 0%,rgba(198,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40000', endColorstr='#c60000',GradientType=0 );
}
.box-more-space{
	background-image: url(../img/borderbot-more.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	padding-bottom: 10px;
}
.box-more-space h3{
	color: #0069bd;
	font-family: "Arial";
	font-size: 20px;
	font-weight: bold;
}
.box-more-space.box-video-space-red h3{
	color: #d80000;
}
.box-more-space.box-video-space-red h3.blue{
	color: #006abd;
}
.box-item-more .box-item-more-img{
	height: 140px;
	overflow: hidden;
}
.box-item-more .box-item-more-content{
	margin-left: 10px;
}
.box-item-more .box-item-more-content .inner-more-content{
	height: 70px;
	overflow: hidden;
	margin-bottom: 10px;
}
.box-item-more .box-item-more-content h4{
	color: #333;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 0;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.box-item-more .box-item-more-content p{
	margin-top: 5px;
	color: #5f5f5f;
	font-size: 13px;
}
.box-most-space{
	border-bottom: 2px solid #8bc53d;
	padding-bottom: 5px;
}
.box-most-space h3{
	color: #0069bd;
	font-size: 20px;
	font-weight: bold;
}
.box-most-space a{
	display: inline-block;
	margin-top: 4px;
	color: #0069bd;
	font-size: 15px;
}
.box-most-space a:hover{
	text-decoration: none;
}
.box-most-space a i{
	color: #686868;
}
.box-item-most{
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
}
.box-item-most .item-most-name{
	font-size: 17px;
	color: #333;
	font-weight: 600;
}
.box-item-most .item-most-name span{
	font-weight: normal;
	font-size: 15px;
}
.box-item-most .item-most-img{
	width: 86px;
	margin-right: 5px;
}
.lbl-free{
	color: #387cd8;
}
.box-item-most .item-most-download .lbl-review{
	color: #9b9b9b;
	display: block;
	margin: 3px 0;
}
.lbl-down{
	display: block;
	font-weight: 600;
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-position: left top 4px;
	padding-left: 15px;
	margin-bottom: 5px;
}
.search-lbl-down{
	font-weight: 600;
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-position: left top 4px;
	padding-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
}
.item-most-info p{
	margin: 5px 0;
}
.item-most-info p:first-child{
	margin-top: 0;
}
.box-item-top{
	height: 75px;
	margin: 10px 0;
	position: relative;
}
.box-item-top .item-top-rate{
	width: 35px;
	height: 35px;
	background-image: url(../img/rate-blue.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	line-height: 35px;
	margin-top: 10px;
}
.box-item-top .item-top-rate.rate-red{
	background-image: url(../img/rate-red.png) !important;
}
.box-item-top .item-top-rate.rate-green{
	background-image: url(../img/rate-green.png) !important;
}
.box-item-top .item-top-rate.rate-yellow{
	background-image: url(../img/rate-yellow.png) !important;
}
.box-item-top .btn-top-download{
	position: absolute;
	right: 78px;
	top: 20px;
	display: none;
}
.box-item-top:hover{
	background-color: #efefef;
}
.box-item-top:hover .btn-top-download{
	display: block;
}
.box-item-top .item-top-name{
	font-weight: 600;
	color: #333;
	margin-top: 5px !important;
}
.box-item-top .item-top-short-ct{
	color: #5f5f5f;
}
#box-search{
	border: 1px solid #e2e2e2;
	background-color: #235d8f;
}
#box-search .lbl-search{
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin: 3px 0 3px 10px;
}
.wrap-ipt-search{
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.wrap-ipt-search .ipt-search{
	width: 100%;
	height: 26px !important;
	background-color: #fff;
	border: none;
}
.wrap-ipt-search .ipt-search:focus{
	outline: none;
}
#box-search .btn-box-search{
	width: 28px;
	height: 28px;
	background-color: #00a5fb;
	border: none;
	color: #fff;
	position: absolute;
	right: -2px;
	top: 0;
	cursor: pointer;
}
.search-type-space{
	height: 31px;
	background-color: #177ece;
	border-top: 1px solid rgba(255, 255, 255, .25);
	margin-top: 10px;
}
.search-type-space .lbl-search-tpye{
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}
.platform{
	list-style: none;
	margin: 0;
	padding: 0;
}
.platform > li{
	border-top: 1px solid rgba(255, 255, 255, .25);
	padding: 5px 0 8px 10px;
	position: relative;
}
.platform > li:first-child{
	/*background-color: #177ece;*/
}
.platform > li:first-child > h4.uk-margin-bottom-remove{
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
}
.platform > li > a{
	color: #fff;
	text-decoration: none;
}
.platform-search-action{
	border-top: 1px solid rgba(255, 255, 255, .25);
	padding: 15px 0;
}
.platform-search-action .pl-search{
	border: none;
	width: 96px;
	height: 31px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.7);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.7);
	box-shadow: 1px 1px 2px rgba(0,0,0,.7);
	background: rgb(175,220,0);
	background: -moz-linear-gradient(top,  rgba(175,220,0,1) 0%, rgba(100,175,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,220,0,1)), color-stop(100%,rgba(100,175,0,1)));
	background: -webkit-linear-gradient(top,  rgba(175,220,0,1) 0%,rgba(100,175,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(175,220,0,1) 0%,rgba(100,175,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(175,220,0,1) 0%,rgba(100,175,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(175,220,0,1) 0%,rgba(100,175,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afdc00', endColorstr='#64af00',GradientType=0 );
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.1);
	cursor: pointer;
}
.platform > li > a.sub-list-menu{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	display: block;
}
.sub-list > li:hover,
.sub-list > li.active{
	background-color: #093e6c;
}
.left-title{
	border-bottom: 2px solid #8bc53d;
	padding-bottom: 5px;
}
.left-title h3{
	color: #006abd;
	font-size: 20px;
	font-weight: bold;
}
.cate{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cate > li{
	border-bottom: 1px solid #efefef;
	position: relative;
	display: block;
	position: relative;
}
.cate > li > a{
	display: block;
	text-decoration: none;
	padding: 5px 0 5px 5px;
}
.cate > li:hover > a{
	background-color: #f7f7f7;
}
.cate-parent-icon > .cate-parent > a:after{
	content: "\f105";
	width: 20px;
	margin-right: -5px;
	float: right;
	font-family: FontAwesome;
	text-align: center;
	color: #b3b3b3;
}
.cate .cate-parent .cate-level-2{
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #bfbfbf;
	position: absolute;
	left: 180px;
	top: 0px;
	width: 146px;
	background-color: #fff;
	-moz-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	-webkit-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	display: none;
}
.cate .cate-parent .cate-level-2 > li > a{
	display: block;
	text-decoration: none;
	padding: 5px 0 5px 10px;
	color: #333;
}
.cate .cate-parent .cate-level-2 > li > a:hover,
.cate .cate-parent .cate-level-2 > li > a:focus{
	color: #006abd;
}

.cate-level-2:before {
	position: absolute;
	top: 4px;
	left: -11px;
	display: inline-block !important;
	border-top:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:11px solid transparent;
	border-right-color: #fff;
	content: '';
	z-index: 2;
}
.cate-level-2:after{
	position: absolute;
	top: 4px;
	left: -12px;
	display: inline-block !important;
	border-top:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:11px solid transparent;
	border-right-color: #8c8c8c;
	z-index: 1;
	content: '';
}
#box-top-download .list-top-down,
.wr-box-top-download .list-top-down{
	list-style: none;
	margin: 0;
	padding: 0;
}
#box-top-download .list-top-down .item-list-top-down,
.wr-box-top-download .list-top-down .item-list-top-down{
	border-bottom: 1px solid #efefef;
	padding: 10px 0 5px 0;
}
.item-list-top-down .top-down-img{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	overflow: hidden;
}
.item-list-top-down .top-down-name{
	width: 79%;
}
.item-list-top-down .top-down-name a{
	line-height: 15px;
	color: #333;
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}
.item-list-top-down .top-down-name a:hover,
.item-list-top-down .top-down-name a:focus{
	color: #006abd;
}
#box-trick .list-trick{
	list-style: none;
	margin: 0;
	padding: 0;
}
#box-trick .list-trick .item-list-trick a{
	text-decoration: none;
	color: #0069bd;
	font-family: "Arial";
	font-size: 14px;
}
#box-trick .list-trick .item-list-trick a i{
	color: #00276b;
	font-weight: 700;
}
#box-trick .list-trick .item-list-trick a:hover{
	color: #3387CA;
}
#box-trick .list-trick .item-list-trick{
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}
#keyword .wrap-box-keyword{
	padding: 10px 0;
}
#keyword .wrap-box-keyword a{
	display: inline-block;
	padding: 0 10px !important;
	color: #0069bd;
	font-family: "Arial";
	font-size: 13px;
}
#keyword .wrap-box-keyword span{
	color: #0069bd;
}
#footer{
	background-color: #f0f0f0;
	padding: 10px 0;
}
.menu-footer a{
	text-transform: uppercase;
	color: #333;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}
.menu-footer a:hover,
.menu-footer a:focus,
.menu-footer a.active{
	color: #0069bd;
}
#footer-coppyright{
	background-color: #363636;
	padding: 10px 0;
}
#footer-coppyright p.coppyright{
	color: #fff;
}
.wrap-search-common{
	border: 1px solid #a4a4a4;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #7cc21f;
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.38);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.38);
	box-shadow: 2px 2px 4px rgba(0,0,0,.38);
	position: absolute;
	right: 0;
	bottom: -88px;
	width: 300px;
	padding: 10px 0 10px 10px;
	z-index: 1001;
}
.wrap-search-common:before {
	position: absolute;
	top: -10px;
	right: 12px;
	display: inline-block !important;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	border-bottom-color: #7cc220;
	content: '';
	z-index: 2;
}
.wrap-search-common:after{
	position: absolute;
	top: -11px;
	right: 12px;
	display: inline-block !important;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #fff;
	border-left: 11px solid transparent;
	border-bottom-color: #a4a4a4;
	z-index: 1;
	content: '';
}
.wrap-search-common > ul{
	margin-bottom: 0 !important;
}
.wrap-search-common > ul > li:nth-child(2){
	margin-left: -75px;
}
.wrap-search-common > ul > li:nth-child(2) > a{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
	display: block;
	margin-top: 8px;
}
.ipt-search-common{
	border: 1px solid #efefef;
	width: 160px;
	height: 35px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 75px;
	color: #333 !important;
}
.ipt-search-common:focus{
	outline: none;
}
.search-common{
	color: #fff;
	font-family: "Arial";
	font-size: 21px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0,.1);
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-top: 7px;
}
.sub-cate-search-common{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sub-cate-search-common > li{
	margin-bottom: 5px;
}
.sub-cate-search-common > li:last-child{
	margin-bottom: 0;
}
.sub-cate-search-common > li > a{
	color: #343434;
	font-size: 15px;
	text-decoration: none;
}
.sub-cate-search-common > li > a:hover,
.sub-cate-search-common > li > a:focus{
	color: #0069bd;
}
.wrap-breadcrumb{
	background-color: #f4f4f4;
	padding: 5px 5px 5px 10px;
}
.wrap-breadcrumb ul{
	margin-bottom: 0;
}
.wrap-breadcrumb ul > li > a{
	color: #343434;
	font-size: 13px;
}
.wrap-breadcrumb ul > li > a:last-child{
	color: #006abd !important;
}
.wrap-breadcrumb ul > li > span i{
	color: #343434;
}
.vdown-breadcrumb > li > span{
	color: #006abd !important;
	font-size: 13px;
}
/*.vdown-breadcrumb > li:nth-child(n+2):before{*/
	  /*content: "\f105";*/
	  /*width: 5px;*/
	  /*font-family: FontAwesome;*/
	  /*text-align: center;*/
/*}*/
.vdown-android-ads{
	background-color: #ededed;
	width: 728px;
	height: 90px;
	margin: 20px auto;
	color: #6a6a6a;
	font-family: "Arial";
	font-size: 12px;
}
.search-result-title{
	margin-bottom: 15px;
}
.search-result-title > h2{
	color: #333;
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
}
.search-result-title > h2 > span{
	color: #006abd;
}
.search-item-result{
	padding: 10px;
	border-top: 1px solid #c2c2c2;
}
.search-item-name h2{
	color: #333;
	font-family: "Arial";
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
}
.lbl-dg{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.wrap-policy{
	font-family: "Arial";
	text-align: justify;
}
.list-policy{
	color: #006abd;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
}
.red{
	color: red;
}
.top-red{
	background-color: #d90000 !important;
}
.news-head-item{
	margin-bottom: 10px !important;
}
.news-head-item-img{
	border: 1px solid #dedede;
	overflow: hidden;
	text-align: center;
	margin-bottom: 5px;
}
.sub-giftcode-img{
	position: absolute;
	z-index: 10;
	left: 15px;
	bottom: -16px;
	border-radius: 9px;
	overflow: hidden;
	border: 2px solid #fff;
}
.news-head-item-content > p > a,
.news-video-item-content > p > a{
	text-decoration: none;
	color: #333;
	font-family: "Arial";
}
.news-head-item-content > p > a:hover,
.news-video-item-content > p > a:hover{
	color: #d90000;
}
.video-turn-view{
	color: #878787;
	font-size: 13px;
	margin-top: 10px !important;
}
.news-video-item-img{
	margin-bottom: 5px;
}
.news-bg-news{
	background-color: #f5f5f5;
	margin-top: -4px;
	padding-bottom: 50px;
}
.box-news-items{
	border: 1px solid #d1d7db;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-moz-box-shadow: 0 0 7px rgba(186,204,216,.26);
	-webkit-box-shadow: 0 0 7px rgba(186,204,216,.26);
	box-shadow: 0 0 7px rgba(186,204,216,.26);
	overflow: hidden;
}
.inner-box-news{
	margin: 15px;
}
.box-news-items-short h3 a{
	font-family: "Arial";
	font-size: 18px;
	font-weight: 700;
	color: #d90000;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}
.box-news-items-short p a{
	color: #212326;
	font-family: "Arial";
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.box-news-items-short p a:hover{
	color: #dc1f1f;
}
.news-list-tag > li > a{
	border: 1px solid #dbdbdb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding: 5px;
}
.foot-box-news{
	background-color: #f6f6f6;
	padding: 8px;
}
.who-post{
	width: 40px;
	height: 40px;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
}
.who-post-info p{
	color: #212326;
	font-family: "Arial";
	font-size: 13px;
}
.heart-babble{
	margin-top: 0px;
	display: inline-block;
	margin-right: 3px;
}
.heart-babble > li > a > span{
	color: #212326;
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;

}
.news-detail-title{
	color: #333;
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
	line-height: 28px;
}
.news-detail-title a{
	color: #343434;
	text-decoration: none;
}
.news-detail-title a:hover{
	color: #d90000;
}
.news-detail-plugin{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 5px 0 1px;
}
.news-detail-plugin > ul > li > i{
	color: #e40000;
}
.news-detail-plugin > ul > li:last-child > i{
	color: inherit;
}
.news-detail-plugin > ul > li > a{
	color: #1d85ce;
}
@media (max-width: 480px){
	.news-detail-plugin .uk-float-right{
		float: left;
		margin-top: 10px;
	}
}
.news-detail-shortcontent{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
}
.news-detail-similar{
	background-color: #f6f6f6;
	padding: 15px;
}
.list-news-similar{
	margin: 0;
	padding: 0;
}
.list-news-similar > li{
	list-style: none;
}
.list-news-similar > li > a{
	display: block;
	background-image: url(../img/bullet-list.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	color: #969696;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.list-news-similar > li > a:hover{
	color: #d80000;
}
.list-news-similar.news-similar-blue > li > a{
	background-image: url(../img/lisst-blue.png);
	color: #006abd;
}
.list-news-similar.news-similar-blue > li > a:hover{
	color: #343434;
}
.inner-news-detail p{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
}
.item-app-game{
	background-color: #ffd800;
	background: rgb(255,231,0);
	background: -moz-linear-gradient(top,  rgba(255,231,0,1) 4%, rgba(255,190,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(255,231,0,1)), color-stop(100%,rgba(255,190,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,231,0,1) 4%,rgba(255,190,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,231,0,1) 4%,rgba(255,190,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,231,0,1) 4%,rgba(255,190,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,231,0,1) 4%,rgba(255,190,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe700', endColorstr='#ffbe00',GradientType=0 );
	padding: 15px;
}
.best-game-wrap{
	background-color: #f6f6f6;
	padding: 10px 8px;
}
.item-best-game{
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	padding: 10px;
}
.item-best-game-img{
	overflow: hidden;
	margin-bottom: 15px;
}
.item-best-game-info p:first-child a{
	color: #333;
	font-size: 12px;
	font-weight: 600;
}
.item-best-game-info p:last-child{
	color: #333;
	font-size: 10px;
}
.rate-bestgame span{
	color: #a3d833;
	font-size: 10px;
	text-transform: uppercase;
	margin-left: 10px;
}
.list-news-news{
	margin: 0;
	padding: 0;
}
.list-news-news > li{
	list-style-image: url(../img/Shape-31-copy-7.png);
	list-style-position: inside;
	margin: 10px 0;
}
.list-news-news > li > a{
	font-family: "Arial";
	font-size: 13px;
	font-weight: 700;
	color: #343434;
}
.list-news-news > li > span{
	font-family: "Arial";
	font-size: 13px;
	color: #959595;
}
.list-news-news.list-blues > li > a{
	color: #0055ab;
}
.tip-list > li{
	list-style-image: url(../img/Shape-31-copy-12.png);
}
.tip-list > li > a{
	font-size: 15px;
	color: #0055ab;
	font-weight: 400;
}
.news-news-title{
	color: #333;
	font-family: "Arial";
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.key-tag{
	border: 1px solid #e1e1e1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f2f2f2;
	padding: 5px 10px;
	font-size: 15px;
	color: #343434;
	display: inline-block;
	margin-bottom: 5px;
}
.key-tag:hover{
	text-decoration: none;
	background-color: #009fe1;
	color: #fff;
}
.keyword-wrap span{
	font-family: "Arial";
	color: #343434;
	font-size: 20px;
	font-weight: 700;
	margin-right: 10px;
}
.item-news-lq{
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}
.item-news-lq-title{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
}
.item-news-lq-title:hover{
	text-decoration: none;
	color: #d80000;
}
.bread-news-lq > li > i{
	color: #e40000;
}
.bread-news-lq > li > a{
	color: #1d85ce;
}
.bread-news-lq > li:last-child i{
	color: inherit;
}
.item-video-lq{
	padding: 15px 0;
}
.item-video-lq-title{
	color: #333;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;

}
.item-news-giftcode{
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}
.item-giftcode-img{
	overflow: hidden;
	width: 57px;
	height: 57px;
}
.item-giftcode-info p a{
	color: #000;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.item-giftcode-info span{
	color: #d90000;
	font-family: "Arial";
	font-size: 14px;
}
.item-giftcode-info p a:hover{
	color: #0069bd;
}
.item-giftcode-quantity{
	background: rgb(229,0,0);
	background: -moz-linear-gradient(top,  rgba(229,0,0,1) 0%, rgba(197,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,0,0,1)), color-stop(100%,rgba(197,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(229,0,0,1) 0%,rgba(197,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(229,0,0,1) 0%,rgba(197,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(229,0,0,1) 0%,rgba(197,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(229,0,0,1) 0%,rgba(197,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50000', endColorstr='#c50000',GradientType=0 );
	-moz-border-radius: 10px / 8px;
	-webkit-border-radius: 10px / 8px;
	border-radius: 10px / 8px;
	padding: 5px 10px;
	text-align: center;
	width: 70px;
}
.item-giftcode-quantity p:first-child{
	color: #fff;
	font-family: "Arial";
	font-size: 14px;
}
.item-giftcode-quantity p:last-child{
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
}
.item-giftcode-quantity.lbl-gray-bg{
	background: rgb(96,96,96);
	background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(27,27,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(27,27,27,1)));
	background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(27,27,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(27,27,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(27,27,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(27,27,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#1b1b1b',GradientType=0 );

}
.hightlight-giftcode{
	background-color: #f6f6f6;
	padding: 10px 0;
}
.hightlight-giftcode-img{
	overflow: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.hightlight-giftcode-info > h1{
	line-height: 25px;
}
.hightlight-giftcode-info > h1 > a{
	color: #333;
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	line-height: 30px;
}
.hightlight-giftcode-info > h1 > a:hover{
	color: #d90000;
}
.hightlight-giftcode-info > p{
	font-family: "Helvetica Neue";
	font-size: 15px;
}
.giftcode-items{
	margin-bottom: 15px !important;
}
.giftcode-items-img{
	width: 100%;
	overflow: hidden;
}
.giftcode-items-subimg{
	width: 72px;
	height: 72px;
	position: absolute;
	z-index: 10;
	left: 15px;
	bottom: -16px;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	overflow: hidden;
	border: 2px solid #fff;
}
.giftcode-info-name > a{
	color: #333;
	font-family: "Arial";
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.giftcode-info-name > a:hover{
	color: #d90000;
}
.giftcode-info-ct{
	color: #333333;
	font-size: 15px;
	margin-top: 5px !important;
}
.detail-giftcode-des{
	background-image: url("../img/borderbot-more.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	padding-bottom: 30px;
}
.detail-giftcode-desimg{
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
}
.list-giftcode-des{
	font-size: 15px;
}
.list-giftcode-des > li > span{
	vertical-align: middle;
	display: inline-block;
	margin-top: 3px;
}
.detail-giftcode-destitle{
	color: #333;
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
}
.detail-giftcode-barcode{
	width: 100px;
	height: 100px;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	float: right;
	text-align: center;
	overflow: hidden;
	padding: 5px;
}
.date-time-gft{
	font-size: 15px;
	color: #878787;
	font-family: "Arial";
}
.showmore-wrap a{
	text-transform: uppercase;
}
.comment-detail{
	background-color: #f3f3f3;
	padding: 10px 10px 20px 0;
}
#cmt-type{
	border: 1px solid #e3e3e3;
	background-color: #fff;
	width: 99%;
}
#cmt-type:focus{
	outline: none;
}
.type-type{
	margin-top: 10px;
	color: #878787;
	font-size: 13px;
}
.not-rate{
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
}
.box-list-comment{
	padding: 10px;
}
.list-item-comment{
	border-bottom: 1px solid #efefef;
	padding: 10px 0 5px 0;
}
.list-item-cmt-img{
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-top: 3px;
}
.img-rate-cmt{
	margin-top: -4px;
}
.cmt-item-time{
	color: #939393;
	font-size: 13px;
	font-weight: bold;
}
.download-but > li > a{
	padding: 0 25px;
}
.giftcode-modal-info h3{
	color: #333;
	font-size: 22px;
	font-weight: bold;
}
.count-giftcode{
	border: 1px solid #cecece;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	width: 70px;
	height: 40px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
.count-giftcode p:first-child{
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
.count-giftcode p:last-child{
	color: #333;
	font-size: 15px;
}
.count-giftcode span{
	color: #d80000;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
@media(max-width: 480px){
	.mess-get-giftcode .uk-float-left{
		float: none;
	}
	.mess-get-giftcode .uk-float-right{
		float: left;
		margin-top: 10px;
	}
}
@media (max-width: 320px){
	.count-giftcode{
		width: 60px;
	}
}
.mess-get-giftcode{
	background-color: #ededed;
	padding: 5px 10px;
}
.custom-modal{
	background-image: url("../img/header-border.jpg");
	background-repeat: repeat-x;
	background-position: left top;
}
.giftcode-modal-img{
	width: 173px;
	height: 173px;
	overflow: hidden;
}
.uk-giftcode{
	width: 139px;
	height: 57px;
	border: 1px solid #cecece;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgb(163,213,69);
	background: -moz-linear-gradient(top,  rgba(163,213,69,1) 0%, rgba(73,154,9,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,213,69,1)), color-stop(100%,rgba(73,154,9,1)));
	background: -webkit-linear-gradient(top,  rgba(163,213,69,1) 0%,rgba(73,154,9,1) 100%);
	background: -o-linear-gradient(top,  rgba(163,213,69,1) 0%,rgba(73,154,9,1) 100%);
	background: -ms-linear-gradient(top,  rgba(163,213,69,1) 0%,rgba(73,154,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(163,213,69,1) 0%,rgba(73,154,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d545', endColorstr='#499a09',GradientType=0 );
	text-align: center;
}
.uk-giftcode p:first-child{
	color: #fefefe;
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px !important;
}
.uk-giftcode p:last-child{
	color: #eaeaea;
	font-size: 15px;
}
.bg-video{
	background-image: url("../img/video-item/bg-video.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.video-similar-item{
	padding: 10px 0;
}
.video-similar-info > h3 > a{
	color: #343434;
	font-weight: 700;
	font-size: 15px;
	font-family: "Arial";
	text-decoration: none;
}
.video-similar-info > h3 > a:hover{
	color: #d60000;
}
.video-duration{
	display: block;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	padding: 0 5px;
	margin-top: 3px;
	margin-right: 3px;
}
.cate-li{
    background-color: #f0f0f0;
    padding: 5px 0;
	height: 290px;
}
.cate-li ul > li > a{
    display: block;
    padding: 0 5px;
    color: #343434;
    text-decoration: none;
}
.cate-li ul > li > a:hover{
    color: #006abd;
}
.android-head-app{
	border: 1px solid #dedede;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px;
}
.android-head-subapp{
	width: 100%;
	overflow: hidden;
	margin-bottom: 11px;
}
.app-item{
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 15px;
	background-color: #fff;
}
.app-item:hover{
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 4px 6px rgba(0,0,0,.25);
	box-shadow: 0 4px 6px rgba(0,0,0,.25);

}
.app-item-img{
	overflow: hidden;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.app-item-detail p:first-child a{
	color: #333;
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
}
.app-item-detail p:first-child a:hover{
	color: #00aff2;
}
.app-item-detail p:last-child{
	color: #5f5f5f;
	font-size: 13px;
}
.rate-app span{
	color: #a3d833;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
}
.vd-android-menu{
	background-color: #006abd;
}
.vd-android-menu > ul{
	margin: 0;
	padding: 0;
}
.vd-android-menu > ul > li{
	margin-top: 0%;
	padding-left: 0;
}
.vd-android-menu > ul > li > a{
	display: block;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}
.vd-android-menu > ul > li > a:hover,
.vd-android-menu > ul > li > a:focus{
	background-color: #00a6fc;
	color: #fff;
}
.vd-android-menu > ul > li.active > a{
	background-color: #00a6fc;
	color: #fff;
}
@media(max-width: 480px){
	.vd-android-menu ul li:first-child .uk-dropdown-width-3{
		width: 100%;
	}
}
.vd-dropdown{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	top: 34px;
}
.vd-menu-lv2{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.vd-menu-lv2 > li > a{
	color: #343434;
	text-decoration: none;
}
.vd-menu-lv2 > li > a:hover,
.vd-menu-lv2 > li > a:focus{
	color: #006abd;
}
.btn-downapp{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #8bc53d;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}
.btn-downapp:hover{
	background-color: #7DB137;
	color: #fff;
	text-decoration: none;
}
.btn-upload{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #35b1ff;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}
.btn-upload:hover{
	background-color: #00aff2;
	text-decoration: none;
	color: #fff;
}
.vdown-item-img{
	overflow: hidden;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
@media (max-width: 768px){
	.vdown-item-img{
		float: left !important;
	}
}
.list-commu{
	list-style-image: url("../img/list-icon-com.png");
}
.vdown-iblog-title > a{
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

.platform-cates .cate-parent .menu-blog-lv2{
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #bfbfbf;
	position: absolute;
	left: 180px;
	top: 0px;
	z-index: 1001;
	width: 146px;
	background-color: #fff;
	-moz-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	-webkit-box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	box-shadow: 1px 4px 4px rgba(0,0,0,.34);
	display: none;
}
.platform-cates .cate-parent .menu-blog-lv2 > li > a{
	display: block;
	text-decoration: none;
	padding: 5px 0 5px 10px;
	color: #333;
}
.platform-cates .cate-parent .menu-blog-lv2 > li > a:hover,
.platform-cates .cate-parent .menu-blog-lv2 > li > a:focus{
	color: #006abd;
}

.menu-blog-lv2:before {
	position: absolute;
	top: 4px;
	left: -11px;
	display: inline-block !important;
	border-top:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:11px solid transparent;
	border-right-color: #fff;
	content: '';
	z-index: 2;
}
.menu-blog-lv2:after{
	position: absolute;
	top: 4px;
	left: -12px;
	display: inline-block !important;
	border-top:11px solid transparent;
	border-right:11px solid transparent;
	border-bottom:11px solid transparent;
	border-right-color: #8c8c8c;
	z-index: 1;
	content: '';
}
.your-giftcode{
	-moz-border-radius: 9px / 10px;
	-webkit-border-radius: 9px / 10px;
	border-radius: 9px / 10px;
	padding: 10px;
	background-color: #97cf00;
	text-align: center;
}
.your-giftcode p:first-child{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}
.your-giftcode p:last-child{
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
@media (max-width: 768px){
	.your-giftcode{
		float: left;
	}
}
.img-app-link{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.ct-app-infos{
	color: #333;
	font-size: 22px;
	font-weight: bold;
}
.ct-app-infos span{
	font-size: 15px;
}
.thanks-downloadp{
	color: #358f00;
	font-size: 15px;
	font-weight: bold;
}
.app-version-other{
	border: 1px solid #c1c1c1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
}
.app-version-other h3{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	color: #0069bd;
	font-size: 15px;
	font-weight: bold;
}
.panel-line{
	width: 100%;
	height: 1px;
	background-color: #c1c1c1;
}
.other-verinfo > p > a{
	color: #333;
	font-size: 15px;
	display: inline-block;
	margin-top: 5px;
}
.other-view > p{
	margin-top: 5px !important;
}
.inner-panel-app{
	padding: 10px 5px;
}
.item-similar-tips h3 a{
	color: #0069bd;
	font-size: 16px;
	font-weight: bold;
}
.side-more{
	color: #358f00;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
}
.it-book-mostname > a{
	font-size: 15px;
	font-weight: bold;
	color: #343434;
}
.it-book-mosts{
	margin-top: 10px;
}
.carrousel-01{
	width: 95%;
	margin: 0 auto;
}
.wrap-book-it{
	width: 137px;
	margin-left: auto;
	margin-right: auto;
}
.book-it-img{
	width: 137px;
	height: 208px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.book-it-view{
	background-color: #0055ab;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 3px 0;
}
.book-it-name{
	text-align: center;
}
.book-it-name a{
	display: inline-block;
	color: #333;
	font-size: 15px;
	margin-top: 5px;
	font-weight: 600;
	text-decoration: none;
}
.book-it-name span{
	color: #6b6b6b;
	font-size: 12px;
}
.verplatform-other a{
	font-size: 0;
	display: inline-block;
	margin: 10px;
}
.verplatform-other span{
	display: inline-block;
	margin-top: 12px;
	vertical-align: middle;
}
.show-appother{
	border: 1px solid #e2e2e2;
	background-color: #f7f7f7;
	padding: 10px;
}
.show-appother a{
	color: #333;
	margin: 0 10px 5px;
	display: inline-block;
	font-size: 15px;
}
.show-appother a:hover{
	color: #006abd;
	text-decoration: none;
}
.show-appother a:first-child{
	margin-left: 0;
}
.items-replace-similar a{
	color: #333;
	font-size: 15px;
	margin-left: 10px;
}
.items-replace-similar span{
	color: #e80011;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
}
.items-replace-similar span img{
	margin-right: 5px;
}
.img-youneed{
	width: 84px;
	height: 84px;
	overflow: hidden;
}
.content-youneed{
	width: 89%;
}
.item-youneed{
	border-bottom: 1px solid #efefef;
	padding-top: 15px;
}
.item-youneed h4 a{
	color: #333;
	font-size: 20px;
}
.item-youneed h4 span{
	font-style: italic;
}
.list-img-document{
	width: 130px;
	margin-right: 10px;
}
.list-document-ct{
	width: 81%;
	float: left;
}
@media(max-width: 768px){
	.list-document-ct{
		width: 100%;
		text-align: justify;
	}
}
.file-avar{
	width: 27px;
	overflow: hidden;
	margin-right: 10px;
	float: left;
}
.file-avar img{
	margin-top: 5px;
}
.name-qd{
	width: 90%;
	float: left;
}
@media(max-width: 480px){
	.name-qd{
		width: 89%;
	}
}
@media(max-width: 320px){
	.name-qd{
		width: 87%;
	}
}
.link-xt{
	display: inline-block;
	margin-top: 4px;
	color: #0069bd;
	font-size: 15px;
}
.part2-top-item{
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
	display: block;
}
.part2-top-itemimg{
	width: 42px;
	overflow: hidden;
	margin-right: 10px;
	float: left;
}
.part2-top-itemct{
	width: 68%;
	float: left;
}
.part2-top-itemct a{
	color: #343434;
	margin-top: 7px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.part2-top-itemct a:hover{
	color: #006abd;
	text-decoration: none;
}
.part2-top-itemct p{
	color: #6b6b6b;
	font-size: 13px;
}
@media (max-width: 480px){
	.part2-top-itemct{
		width: 60%;
	}
}
@media (max-width: 320px){
	.part2-top-itemct{
		width: 52%;
	}
}
.part2-top-itemview{
	float: left;
	margin-left: 10px;
}
.part2-top-itemview p{
	color: #333;
	font-size: 14px;
	margin-top: 10px;
}
.box_view_more a{
	font-size: 15px;
	color: #343434;
	line-height: 28px;
}
.box_view_more a:hover{
	color: #006abd;
	text-decoration: none;
}
.box_view_more span{
	display: inline-block;
	margin: 0 10px;
}
.box_view_more{
	border: 1px solid #e2e2e2;
	background-color: #f7f7f7;
	padding: 10px;
}
.mobile-tip-most{
	margin: 10px 0;
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
}
.tip-mosst-img{
	width: 50px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.tip-most-title p a{
	text-decoration: none;
	color: #343434;
}
.tip-most-title p a:hover{
	color: #0069bd;
}
.hl-readnext{
	color: #0069bd;
	font-size: 20px;
	font-weight: bold;
}
.hl-readnext:hover{
	text-decoration: none;
}
.bv-similar-item{
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}
.bv-similar-title h3{
	margin-bottom: 0px !important;
}
.bv-similar-title h3 a{
	color: #343434;
	text-decoration: none;
}
.bv-similar-title h3 a:hover{
	color: #0069bd;
}
.bv-similar-img{
	width: 90px;
	overflow: hidden;
	margin-right: 10px;
}
.bv-similar-img img{
	margin-top: 5px;
}
.bv-similar-content p{
	margin-top: 0 !important;
}
.bv-link-bestitem{
	color: #343434;
}
.bv-link-bestitem:hover{
	color: #0069bd;
	text-decoration: none;
}
.top-read-document{
	padding: 8px 0 10px 0;
	border-image-slice: 0 27 3 27;
	border-image-width: 20px 20px 3px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: repeat stretch;
	border-image-source: url("../img/header-border.jpg");
}
.top-read-document.menu-second{
	padding: 0;
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	top: 0px;
	display: none;
}
.top-read-document.menu-second .is-menu-second > li > a{
	padding: 0 10px;
	display: block;
}
.top-read-document.menu-second .is-menu-second > li > a:hover,
.top-read-document.menu-second .is-menu-second > li.active > a{
	background-color: #85C94F;
	color: #fff;
	border-radius: 10px;
}
@media (max-width: 768px){
	#second-menu .uk-clearfix .uk-float-right{
		float: left !important;
	}
}
.doc-embed,
.doc-fullscreen{
	border: none;
	background: url("../img/document-img.png") no-repeat;
	outline: none;
	cursor: pointer;
	margin-top: 3px;
}
.doc-embed{
	width: 23px;
	height: 22px;
	background-position: -83px -52px;
	margin-right: 20px;
}
.doc-fullscreen{
	width: 23px;
	height: 22px;
	background-position: -139px -22px;
	margin-right: 20px;
}
.doc-embed:hover, .doc-embed:active {
	background-position: -63px -110px;
}
.doc-fullscreen:hover, .doc-fullscreen:active {
	background-position: -31px -110px;
}
.btn-report{
	border: none;
	background-color: transparent;

}
.btn-report span{
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	cursor: pointer;
}
.doc-report{
	width: 21px;
	height: 22px;
	background: url("http://www.doko.vn/StaticDeploy/IMG/8/Images/dokov2/icon.png") no-repeat -194px -331px;
	display: block;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.btn-report:hover .doc-report{
	background-position: -181px -188px;
}
.txt-numberpage{
	margin-top: 2px;
	width: 30px;
	outline: none;
}
.wrap-doc-reference{
	background-color: #f4f4f4;
	padding: 10px;
}
.doc-reference-item{
	margin: 10px 0;

}
.img-doc-reference{
	border: 1px solid #ebebeb;
	background-color: #fff;
	width: 50px;
	float: left;
	padding: 2px;
	margin-right: 10px;
}
.title-doc-reference{
	width: 80%;
	float: left;
}
.title-doc-reference a{
	color: #333;
	font-size: 15px;
	text-decoration: none;
}
.title-doc-reference a:hover{
	color: #0069bd;
}
.doc-content-box{
	padding: 30px;
	background-color: #fff;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.25);
	box-shadow: 0 0 7px rgba(0,0,0,.25);
}
.text-blue{
	color: #177ece;
}
.text-red{
	color: #E62E00 !important;
}
.text-gray{
	color: #888787 !important;
}
.text-black{
	color: #343434 !important;
}
.text-white{
	color: #fff !important;
}
.md-dialog{
	width: 400px;
}
.md-dialog-selectimg{
	width: 820px;
}
.md-dialog-contact{
	width: 550px;
}
.md-header{
	height: 37px;
	background-color: #0069bd;
	padding: 15px 0 0 0;
}
.md-header-selectimg{
	border-image-slice: 0 27 3 27;
	border-image-width: 20px 20px 3px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: repeat stretch;
	border-image-source: url("../img/header-border.jpg");
}
.md-header-title{
	text-transform: uppercase;
	color: #fefefe;
	font-family: "Helvetica Neue";
	font-size: 20px;
}
.md-footer{
	border-image-slice: 3 27 3 28;
	border-image-width: 3px 20px 0px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("../img/header-border.jpg");
}
.contact-footer{
	padding: 0;
	margin-bottom: -23px !important;
	background-color: transparent;
}
.login-to-register{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #343434;
	padding: 10px;
	color: #fff;
	font-size: 13px;
}
.login-to-register:hover{
	text-decoration: none;
	color: #fff;
	background-color: #454343;
}
.md-close{
	margin-top: -6px !important;
	color: #fff;
	opacity: 1;
	background-color: #0096e1;
	padding: 16px;
	position: absolute;
	right: 10px;
	top: 6px;
	border-radius: 0 2px 0 0;
}
.md-close:hover{
	color: #fff;
	opacity: 1;
}
.bg-profile-head{
	background-image: url(../img/my-profile-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	padding: 10px;
}
.profile-name h4{
	color: #fff;
	font-family: "Arial";
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}
.profile-name p{
	color: #fff;
}
.pf-panel{
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 30px;
}
.pf-progress{
	overflow: inherit;
	border-radius: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #0069bd;
}
.pf-progress-bar{
	-moz-border-radius: 2px 0 0;
	-webkit-border-radius: 2px 0 0;
	border-radius: 2px 0 0;
	background-color: #8bc53d !important;
	background-image: none;
}
.progress-precen{
	position: absolute;
	font-weight: bold;
	left: 0;
	top: -20px;
}
.file-upload-container {
	padding:0px 0 5px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #fbfbfa;
}
.file-upload-override-button {
	margin-top: 10px;
	-moz-border-radius: 2px / 1px;
	-webkit-border-radius: 2px / 1px;
	border-radius: 2px / 1px;
	background-color: #ff7e00;
	background-image: -moz-linear-gradient(top, #ff9900 0%, #ff5f00 100%);
	background-image: -o-linear-gradient(top, #ff9900 0%, #ff5f00 100%);
	background-image: -webkit-linear-gradient(top, #ff9900 0%, #ff5f00 100%);
	background-image: linear-gradient(top, #ff9900 0%, #ff5f00 100%);
	float: right;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #528ecc;
}
.file-upload-override-button:hover {
	background-color: #ff7e00;
	background-image: -moz-linear-gradient(bottom, #ff9900 0%, #ff5f00 100%);
	background-image: -o-linear-gradient(bottom, #ff9900 0%, #ff5f00 100%);
	background-image: -webkit-linear-gradient(bottom, #ff9900 0%, #ff5f00 100%);
	background-image: linear-gradient(bottom, #ff9900 0%, #ff5f00 100%);
}
.file-upload-button {
	position: absolute;
	height: 50px;
	top: -10px;
	left: -10px;
	cursor: pointer;
	opacity: 0;
	filter:alpha(opacity=0);
}
.file-upload-filename {
	display: inline-block;
	margin-top: 10px;
	margin-left: 0px;
	height: auto;
	float: left;
	padding: 8px 0 8px;
	font-weight: 700;
}
@media(max-width: 320px){
	.file-upload-override-button{
		float: none;
		margin-left: 10px;
	}
	.file-upload-filename{
		display: none;
	}
}
.title-selectimg{
	color: #333;
	font-family: "Arial";
	font-size: 25px;
	font-weight: bold;
}
.tab-selectimg{
	list-style: none;
	margin: 0;
	padding: 0;
}
.tab-selectimg li{
	color: #fff;
	font-family: "Arial";
	font-size: 12px;
	font-weight: bold;
	float: left;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #0070ec;
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
}
.tab-selectimg li:first-child{
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
}
.tab-selectimg li:last-child{
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}
.tab-selectimg li.curent{
	background-color: #2bc3ff;
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(255,255,255,.5) 100%);
}
.tab-content-selectimg{
	margin-top: 20px;
}
.tab-pane{
	display: none;
	background-color: #f4f4f4;
	padding: 20px;
}
.tab-pane.curent{
	display: block;
}
.lb-selectimg > input[type="radio"]{
	display: none;
}
.lb-selectimg > input[type="radio"]:checked + img{
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.search-subbg{
	background-color: #f2f2f2;
}
.element-area{
	top: 17px !important;
}
.area-contact{
	padding-left: 30px !important;
}
.list-book-info-detail > li{
	margin: 5px 0;
}
.uk-button-cmt{
	border: none;
	background-color: transparent !important;
	cursor: pointer;
}
#btn-contact-fx{
	position: fixed;
	z-index: 1001;
	right: 0;
	top: 50%;
}
.wdlist-paginator{
	background-color: #e3e3e3;
	padding: 5px;
	margin: 20px 0 0px;
}
.wdlist-paginator > span{
	font-weight: 700;
}
@media(max-width: 480px){
	.wdlist-paginator{
		text-align: center;
	}
}
.wdlist-flright{
	display: inline-block;
	float: right;
	margin-top: 1px;
	margin-bottom: 0;
}
.selectbox-topapp{
	width: 165px;
}
.btn-scoll-top{
	position: fixed;
	right: 10px;
	bottom: 125px;
	display: none;
}
.my-pagination-giftcode > li > a,
.my-pagination-giftcode > li > span{
	font-size: 20px;
}
.my-pagination-giftcode > li.uk-active > span{
	background-color: #ee0c0c !important;
	background-image: none;
}
.panel-header-title{
	background-color: #f6f6f6;
	padding: 5px 10px;
	border-radius: 4px 4px 0 0;
}
.panel-header-title h4{
	margin-bottom: 0;
	font-size: 16px;
	color: #333;
}
.inner-profile-panel{
	padding: 10px 12px 0;
}
.upload-file-title{
	color: #333;
	font-family: "Arial";
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}
.bg-gray{
	background-color: #424242;
}
.vdown-item-name{
	font-size: 22px;
	font-weight: 700;
}
.vdown-item-name > span{
	font-size: 18px;
	font-weight: 400;
}
.show-app-other{
	font-size: 20px;
	font-weight: 700;
}
.doctailieu-headr li:first-child{
	margin-right: 20px;
}
.doctailieu-headr li:nth-child(2){
	width: 130px;
}
.doctailieu-headr li:nth-child(2) a{
	position: absolute;
	left: 0;
	top: 10px;
}
.doctailieu-headr .has-btndownload{
	width: 130px;
}
.doctailieu-headr .has-btndownload a{
	position: absolute;
	left: 0;
	top: 10px;	
}
.has-ribon > li:last-child{
	width: 33px;
}
.has-ribon > li:last-child img{
	position: absolute;
	top: -10px;
	right: 0;
}
.tip-detail-title{
	font-size: 25px;
	font-weight: 700;
}
.btn-chitiet{
	font-size: 20px;
	font-weight: 700;
}
.has-readbook > li > a{
	font-size: 18px;
	padding: 0 10px;
}
.select-font .select-label{
	margin-top: 5px;
	display: inline-block;
}
.select-font .button-select-font{
	background-color: transparent;
	background-image: none;;
	width: 100%;
	font-size: 14px;
}
.select-font .button-select-font.sepia{
	background-color: #f5efdd;
	border-color: #e2c173;
}
.select-font .button-select-font.night{
	background-color: #494949;
	border-color: #dbdbdb;
	color: #fff;
	text-shadow: none;
}
.select-font .single{
	padding: 0;
	color: #ccc;
	margin-right: 5px;
}
.select-font .two{
	padding: 0;
	color: #ccc;
	margin-left: 5px;	
}
.select-font .two.active{
	color: #006abd;
}
.wrap-episode{
	width: 100%;
	box-sizing: border-box;
}
.wrap-episode > ul.uk-list > li{
	border-bottom: 1px solid #ccc;
}
.wrap-episode > ul.uk-list > li:last-child{
	border-bottom: none;
}
.wrap-episode > ul.uk-list > li > a{
	color: #373737;
	text-decoration: none;
	display: block;
	padding: 10px;
}
.wrap-episode > ul.uk-list > li > a:hover,
.wrap-episode > ul.uk-list > li > a.active{
	color: #006abd;
}
.wrap-bookmark > ul.uk-list > li > a{
	color: #373737;
	text-decoration: none;
	display: block;
	padding-bottom: 10px;
}
.wrap-bookmark > ul.uk-list > li:last-child > a{
	padding-bottom: 0;
}
.wrap-bookmark > ul.uk-list > li > a:hover,
.wrap-bookmark > ul.uk-list > li > a.active{
	color: #006abd;
}
.wrap-bookmark .bookmark-page{
	right: 200px;
	left: auto;
	top: -6px;
}
.wrap-bookmark .bookmark-page .uk-list > li > a{
	color: #373737;
}
.wrap-bookmark .bookmark-page .uk-list > li > a:hover,
.wrap-bookmark .bookmark-page .uk-list > li > a.active{
	color: #006abd;
	text-decoration: none;
}

/*ReadBook*/
#readbook{
	position: relative;
	width: 100%;
}
#readbook .control{
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 24px;
	height: 46px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	cursor: pointer;
}
#readbook .control.prev{
	background-image: url(../img/read-prev.png);
	left: 0;
}
#readbook .control.next{
	background-image: url(../img/read-next.png);
	right: 0;
}
#readbook:after{
	content: "";
	display: block;
	padding-bottom: 60%;
}
#readbook .read-inner{
	position: absolute;
	width: 100%;
	height: 100%;
	border-top: 1px solid #ccc;
}
#readbook .read-inner .hold-page{
	padding: 20px 30px;
	overflow: hidden;
}
#slider-reading{
	background-color: #525252;
	padding: 20px;
}
#value-control{
	color: #fff;
	margin-top: 20px;
}
#value-control .page{
	font-size: 15px;
}
#value-control .page > i{
	font-style: normal;
}
#value-control .book-name{
	font-size: 20px;
}
#value-control .percent-read{
	font-size: 15px;
}
#slider-reading .noUi-background{
	background-color: #9e9e9e;
}
#slider-reading .noUi-horizontal{
	height: 4px;
}
#slider-reading .noUi-handle{
	border: 3px solid rgba(0,0,0,0.8);
	border-radius: 100%;
	background-color: #00c0ff;
	cursor: pointer;
	box-shadow: none;
}
#slider-reading .noUi-handle:before,
#slider-reading .noUi-handle:after{
	display: none;
}
#slider-reading .noUi-horizontal .noUi-handle{
	width: 20px;
	height: 20px;
	left: -10px;
	top: -8px;
}
/*Ed ReadBook*/

/*new offcanvas*/
.new-offcanvas{
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}
.new-offcanvas-bar{
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
}
/*end new offcanvas*/

/*offcanvas menu*/
.offcanvas-page{
	position: fixed;
}
#overlay{
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
}
#overlay.show{
	display: block;
}
#offcanvas-menu{
	background-color: #efefef;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	z-index: 1001;
	width: 270px;
	height: 100%;
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
}
#offcanvas-menu.offcanvas-menu-show{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
#offcanvas-menu-hide{
	background-color: #177ECE;
	color: #fff;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.primary-menu,.mobile-menu-search{
	background-color: #235D8F;
}
.mobile-menu-search{
	text-align: center;
	padding: 10px 0;
}
.mobile-menu-search h4{
	margin: 0 0 10px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
}
.mobile-menu-search input[type="text"]{
	height: 20px;
	width: 150px;
	padding: 3px 5px;
	display: inline-block;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.mobile-menu-search button[type="submit"]{
	border: none;
	background-color: #177ECE;
	color: #fff;
	display: inline-block;
	height: 30px;
	cursor: pointer;
	margin-left: -4px;
}
.primary-menu .uk-list li a{
	color: #fff;
	display: block;
	margin-left: 10px;
	padding: 3px 0;
	text-decoration: none;
}
.primary-menu .uk-list li:nth-child(n+2){
	border-color: #b3b3b3;
}
.mobile-menu{
	background-color: #fff;
}
.mobile-menu .uk-nav li.uk-parent.uk-open > a:after{
	content: "\f107";
}
.mobile-menu .uk-nav > li > a{
	padding: 5px 20px 5px 10px;
}
.mobile-menu .uk-nav-parent-icon > .uk-parent > a:after{
	content: "\f105";
}
/*end offcanvas menu*/