@media (max-width: 1024px){
    #btn-contact-fx{
        bottom: 0px !important;
        right: 0px !important;
        top: auto;
    }
    .content-youneed{
        width: 85%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

}

@media (max-width: 769px){
    .search-item-result .uk-grid .uk-width-medium-1-5 .uk-text-center{
        text-align: left !important;
    }
    .app-item{
        padding: 10px;
    }
    .app-item-img{
        border-radius: 10px;
    }
    .app-item-detail p:first-child a{
        font-size: 12px;
    }
    .app-item-detail p:last-child{
        font-size: 11px;
    }
    .rate-app span{
        display: block;
        margin-left: 0;
        font-size: 11px;
    }
    .rate-app{
        margin-top: 10px !important;
    }
    .rate-bestgame span{
        font-size: 8px !important;
    }
    .vd-android-menu > ul > li > a{
        font-size: 12px;
    }
    .vd-android-menu a.uk-float-right{
        float: left !important;
        margin-top: 0 !important;
    }
    .items-replace-similar p{
        float: none;
        margin-bottom: 0;
    }
    .items-replace-similar span{
        float: none;
        margin-bottom: 15px;
    }
    .content-youneed{
        width: 75%;
    }
    .doctailieu-headr li:nth-child(2) a{
        top: 0px;
    }
    .wdlist-flright{
        float: none;
        margin-top: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px){

}

@media (max-width: 480px) {
    #top .top-nav{
        margin-top: 9px !important;
    }
    .new-nav-sub > li{
        margin: 4px 0;
    }
    .wrap-ipt-search{
        width: 94%;
    }
    .uk-hidden-mobile{
        display: none !important;
    }
    .item-best-game-info > p > a,
    .item-best-game-info >p{
        font-size: 9px !important;
    }
    .rate-bestgame{
        margin-top: 10px !important;
    }
    .rate-bestgame span{
        display: block;
        margin-left: 0;
    }
    .detail-giftcode-destitle{
        margin-top: 20px !important;
    }
    .vd-android-menu > ul > li{
        float: none;
        width: 100%;
    }
    .small-mobile{
        margin-left: 0 !important;
    }
    .content-youneed{
        width: 70%;
    }
}

@media (max-width: 320px){
    .box-item-more .box-item-more-img{
        height: 90px;
    }
    .app-item{
        padding: 5px;
    }
    .app-item-detail p:first-child a{
        font-size: 10px;
    }
    .app-item-detail p:last-child{
        font-size: 9px;
    }
    .rate-app{
        margin-top: 5px !important;
    }
    .news-detail-plugin .uk-subnav{
        float: none !important;
    }
    .news-detail-plugin .uk-float-left{
        float: none !important;
        display: block;
    }
    .news-detail-plugin .uk-float-right{
        float: none !important;
        margin-top: 5px;
    }
    .content-youneed{
        width: 65%;
    }
    .pm-mn{
        display: none;
    }
}