.owl-wrapper-outer{
    z-index: 2;
}
.owl-controls{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.owl-buttons{
    width: 100%;
    height: 100%;
}
.owl-prev{
    position: absolute;
    left: -23px;
    top: 27%;
}
.owl-next{
    position: absolute;
    right: -23px;
    top: 27%;
}